<div id="footer" >
	<p class="copyright">Powered by <a href="http://hexo.io" target="_blank" title="hexo">hexo</a> © <a href="http://drunkevil.com" target="_blank" title="drunkevil">drunkevil</a> 2014 - <%= new Date().getFullYear() %> 
	</p>

	<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

  _st('install','A2sFTk1F5gUz3jHiABT4');
</script>
</div>

