<div>
	<div id="textlogo">
		<h1 class="site-name"><%= config.title %></h1>
	</div>

	<nav class="animated">
		<ul><% for (var i in theme.menu){ %>
			<li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
			<li><a href="/atom.xml" target="_blank" title="RSS">订阅</a></li>
			<li>
 				<% if	(theme.swift_search.enable){ %>
				<form class="search" action="<%- config.root %>search/index.html" method="get" accept-charset="utf-8">
				    <div class="search-mb">
                		<input class="search-input" type="text" />
            		</div>
				</form><% } %>
			</li>
		</ul>
	</nav>			
</div>